:root {
	--dark-space: #22223B;
	--deep-indigo: #4A4E69;
	--muted-purple: #9A8C98;
	--parchment: #C9ADA7;
	--text-light: #f1f1f1;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--dark-space);
	color: var(--text-light);
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
